body
{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif, Arial;
}
#launcher
{
    margin-left: 10px;
}

a
{
    display: block;

    width: 50px;
    height: 50px;
}

h1,
h2
{
    font-family: 'Bookman Old Style', serif;

    text-align: center;
}
h3
{
    font-family: 'Bookman Old Style', serif;
}


.j1
{
    background-color: blue;
}
.j2
{
    background-color: green;
}
.null
{
    background-color: white;
}
.move
{
    background-color: lightgreen;
}
.partieFini
{
    background-color: yellow;
}
#info
{
    float: left;

    width: 33%;
    margin-left: 10px;

    text-align: left;
}
#plateau
{
    top: 0;

    float: left;

    width: 33%;
    margin: auto;
    padding: auto;

    text-align: center;
}
#plateau table
{
    margin: auto;
    padding: auto;
}
#plateau #bouton
{
    float: center;

    width: 50%;
    margin: auto;
    padding: auto;
}
#plateau #bouton #b1
{
    float: left;

    width: 33%;
    margin: auto;
    padding: auto;
}
#plateau #bouton #b2
{
    float: right;

    width: 33%;
    margin: auto;
    padding: auto;
}
#plateau #bouton #reset
{
    float: center;

    width: 33%;
    margin: auto;
    padding: auto;
}

#score
{
    float: right;

    width: 25%;

    text-align: center;
}
#score table
{
    empty-cells: hide;
    border-spacing: 20px 0;

    text-align: center;
}
#score #left
{
    text-align: left;
}
